{% extends 'base.html' %}
{% block content %}
  <h2>{% if form.instance.pk %}Edit Produk{% else %}Tambah Produk{% endif %}</h2>

  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    <p>
      <label>{{ field.label }}</label><br>
      {{ field }}
      {% if field.errors %}
        <br><span style="color:red;">{{ field.errors }}</span>
      {% endif %}
    </p>
  {% endfor %}
  <button type="submit">Simpan</button>
  <a href="{% url 'produk_list' %}">← Kembali</a>
</form>
{% endblock %}
